<style>
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 20px;
}

.grid-child {
    background-color: white;
    border: 1px solid black;
    padding:
